# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
dist/
build/
.cache/

# Environment variables
.env
.env.*
!.env.example

# Testing
coverage/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
.terraform.lock.hcl

# OS
.DS_Store
Thumbs.db
